body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f9;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

label {
    margin-right: 10px;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.qualidade-ar {
    text-align: center;
    margin: 20px 0;
}

#tabelaPrevisao {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#tabelaPrevisao th, #tabelaPrevisao td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

#tabelaPrevisao th {
    background-color: #007bff;
    color: #fff;
}
